# Example environment variables to set in Railway (DO NOT commit secrets here)
APP_ENV=prod
APP_SECRET=
DATABASE_URL=
MYSQL_HOST_PORT=
PHPMYADMIN_HOST_PORT=
MESSENGER_TRANSPORT_DSN=
MAILER_DSN=
ADMIN_EMAIL=
MAILER_FROM_EMAIL=
MAILER_FROM_NAME=
DEFAULT_URI=
CORS_ALLOW_ORIGIN=
JWT_SECRET_KEY=
JWT_PUBLIC_KEY=
JWT_PASSPHRASE=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
